<p>This is the partial for view 1.{{wordCount}} / {{countType}}</p>
<div class="row">
    <div class="col-md-8" >
        <h5>Counting type: </h5>
        <label>
            <input class="form-control" type="radio" name="countType" value="1" ng-model="countType" ng-checked="countType == 1">Characters
        </label>
        <label>
            <input class="form-control" type="radio" name="countType" value="2" ng-model="countType" ng-checked="countType == 2">Words
        </label>
        <br />
        <label>Amount:</label><select class="form-control" ng-options="n for n in amounts" ng-model="wordCount"></select>
    </div>
</div>
<br />
<div ui-text-area></div>
